---
import Layout from "../../layouts/Layout.astro";
import { CollectionEntry, getCollection } from 'astro:content';


export async function getStaticPaths() {
	const articles = await getCollection("article", ({ data }) => {
		return data;
	})
	return articles.map((article) => ({
		params: { slug: article.slug },
		props: { article: article },
	}))
}
interface Props {
	article: CollectionEntry<"article">;
}
const { article } = Astro.props;
const { Content } = await article.render();
---
<Layout title={article.data.title}>
	<main class="container-fluid pt-4">
		<section class="row">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
				<Content/>
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>