---
import CollectionIndex from "../../components/global/CollectionIndex.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content"

const entries = await getCollection('articles');
const title = "Articles";
const description = "Learn about concepts and tools for data analytics and web development.";
---
<Layout title={title}>
	<main class="container-fluid">
		<CollectionIndex
			title={title}
			description={description}
			slugBase={"articles"}
			entries={entries}
		/>
	</main>
</Layout>