---
import Layout from "../../layouts/Layout.astro";
import { CollectionEntry, getCollection } from 'astro:content';


export async function getStaticPaths() {
	const blogPosts = await getCollection("blog", ({ data }) => {
		return data;
	})
	return blogPosts.map((post) => ({
		params: { slug: post.slug},
		props: { post },
	}))
}
interface Props {
	post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.data.title}>
	<main class="container-fluid pt-4">
		<section class="row">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
				<Content/>
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>