---
import Layout from '../../layouts/Layout.astro';

const pageName = "Blog";
---

<Layout title={pageName}>
	<main class="container-fluid pt-4">
		<section class="row">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>