// Import Bootstrap and its default variables
// @import 'bootstrap/scss/bootstrap.scss';

$primary: #8cc9dc;
// $primary: #98daee;
$secondary: #cdd0d1;
$danger: #e97e90;
$success: #72cea3;
$black: #1a1a1a;
$dark: #202125;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.landing-title {
    font-size: 4em;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
[astro-icon] {
    width: 50px;
    height: 50px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
    fill: $dark;
    color: $dark;
}
.output-text {
    height: 45vh;
}
.button-fix {
    padding-bottom: 8px;
}
@include media-breakpoint-up(sm) {
    .output-text {
        height: 40vh;
    }
}
@include media-breakpoint-up(md) {
    .output-text {
        height: 35vh;
    }
}
@include media-breakpoint-up(lg) {
    .output-text {
        height: 30vh;
    }
    .button-fix {
        padding-bottom: 0px;
    }
}
@include media-breakpoint-up(xl) {
    .output-text {
        height: 25vh;
    }
}