// Import Bootstrap and its default variables
// @import 'bootstrap/scss/bootstrap.scss';

$primary: #79cee9;
// $primary: #98daee;
$secondary: #018bb5;
$danger: #e97e90;
$success: #72cea3;
$dark: #202125;
$black: #050505;
// $black: #1a1a1a;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.landing-title {
    font-size: 5em;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
.gradient-text {
	background: linear-gradient(45deg, #052e45, #014d7d, #018bb5, $primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;
}
.project-wrapper {
	background: linear-gradient(45deg, #052e45, #014d7d, $secondary, $primary);
	background-size: 200% 200%;
	animation: gradient 10s ease-in-out infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
[astro-icon] {
    width: 50px;
    height: 50px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
    fill: $dark;
    color: $dark;
}
.output-text {
    height: 45vh;
}
.button-fix {
    padding-bottom: 8px;
}
.btn-outline-secondary:hover {
    color: $light;
}
.btn-outline-secondary:active {
    color: $light;
}
.project-card:hover {
    cursor: pointer;
    box-shadow: #050505 10px 10px;
}

@include media-breakpoint-up(sm) {
    .output-text {
        height: 40vh;
    }
}
@include media-breakpoint-up(md) {
    .output-text {
        height: 35vh;
    }
}
@include media-breakpoint-up(lg) {
    .output-text {
        height: 30vh;
    }
    .button-fix {
        padding-bottom: 0px;
    }
}
@include media-breakpoint-up(xl) {
    .output-text {
        height: 25vh;
    }
}