---
import Layout from '../../../layouts/Layout.astro';
import Chart from "../../../components/stats/Chart"
---

<style is:global>
	.tooltip {
		position: absolute;
		padding: 8px;
		pointer-events: none; /* Ensure the tooltip doesn't interfere with mouse events on plot points */
	}
	.tick:first-of-type line{
		fill: none;
		stroke: none;
	}
</style>

<Layout title="Promptry">
	<main class="container-fluid vstack gap-2">
		<header class="container">
			<section class="row">
				<h1>Stats</h1>
				<p>Average wait times for relax.</p>
			</section>
		</header>
		<Chart client:only></Chart>
	</main>
</Layout>