---
import Layout from '../../../layouts/Layout.astro';
import Chart from "../../../components/stats/Chart"
---

<style is:global>
	.tooltip {
		position: absolute;
		padding: 8px;
		pointer-events: none; /* Ensure the tooltip doesn't interfere with mouse events on plot points */
	}
	.tick:first-of-type line{
		fill: none;
		stroke: none;
	}
</style>

<Layout title="Promptry">
	<main class="container-fluid">
		<header class="row px-4">
			<h1>Stats</h1>
			<p>Average wait times for relaxed generation.</p>
		</header>
		<Chart client:only></Chart>
	</main>
</Layout>