---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<!-- Load Data -->
<script src="../scripts/stats.ts"></script>

<Layout title="Welcome to Astro.">
	<main class="container-fluid">
		<section class="row">
			<section id="test"></section>
		</section>
		<section class="row">
			2
		</section>
		<section class="row">
			3
		</section>
	</main>
</Layout>