---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container-fluid">
		<section class="row">
			1
		</section>
		<section class="row">
			2
		</section>
		<section class="row">
			3
		</section>
	</main>
</Layout>