---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon'
import { ArticlesButton, ProjectsButton } from '../components/global/Buttons';

const pageName = "promptry";
const quotes = [
	{
		author: "GPT 3.5",
		content: "Get your data groove on: expert analytics, development, and more."
	}
]
---
<Layout title={pageName}>
	<main class="container-fluid">
		<section class="row bg-white text-dark py-5">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
				<header class="vstack gap-3 text-center">
					<section class="hstack gap-2 d-flex justify-content-center">
						<Icon name="datamodel" />
						<h1 id="landing-title" class="landing-title ">{pageName}</h1>
					</section>
					<p id="landing-subtitle"></p>
					<section class="hstack gap-2 d-flex justify-content-center">
						<ArticlesButton dark/>
						<ProjectsButton dark/>
					</section>
				</header>
			</section>
			<aside class="col-md-3"></aside>
		</section>
		<section class="row py-5">
			<aside class="col-md-3"></aside>
			<section id="quotes" class="col-md-6">
				{
					quotes.map((q) => (
						<blockquote class="blockquote text-center">
							<p>{q.content}</p>
							<footer class="blockquote-footer">{q.author}</footer>
						</blockquote>
					))
				}
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>

<script is:inline>
	const title = () => {
		const pageName = "promptry";
		const array = Array.from(pageName).map((x, i) => ({w: x, c: x.charCodeAt(0), i: i})).sort((a, b) => (a.c - b.c));
		const h1 = document.getElementById('landing-title');
		function insertionSortAnimated(array, i = 1) {
			if (i < array.length) {
				let j = i - 1;
				let temp = array[i];
				while (j >= 0 && array[j].i > temp.i) {
					array[j + 1] = array[j];
					j--;
				}
				array[j + 1] = temp;
				h1.textContent = array.map(x => x.w).join('')
				setTimeout(() => {
					insertionSortAnimated(array, i + 1);
				}, 100); // Delay the next iteration by 1 second
			}
		}
		// insertionSortAnimated(array);
	}
	const writer = () => {
		const subtitle = 'Learning Data Analytics and Web Development';
		const p = document.getElementById('landing-subtitle');
		function typeWriter(text, i) {
			if (i < text.length) {
				p.textContent += text.charAt(i);
				i++;
				setTimeout(typeWriter, 50, text, i);
			}
		}
		typeWriter(subtitle, 0);
	}
	const quotes = () => {
		// console.log("quotes");
	}
	// title();
	writer();
	quotes();
</script>