---
import Layout from '../layouts/Layout.astro';
import Chart from "../components/Chart"
---

<style is:global>
	.tooltip {
		position: absolute;
		padding: 8px;
		pointer-events: none; /* Ensure the tooltip doesn't interfere with mouse events on plot points */
	}
</style>

<Layout title="Welcome to Astro.">
	<main class="container-fluid px-4">
		<header class="row">
			<h1>Stats</h1>
		</header>
		<section class="row">
			<Chart client:only></Chart>
		</section>
	</main>
</Layout>