---
import Layout from '../../../layouts/Layout.astro';
import Chart from "../../../components/project/stats/Chartart";

const pageName = "MJ Time Series";
const subtitle = "Average Wait Time (mm:ss) for Relaxed hours per Time of Day (hh:mm) from 00:00 to 23:45 UTC converted to your Local Time."
---
<Layout title={pageName}>
	<main class="container-fluid">
		<header class="px-4 pt-2 text-center">
			<h1>{pageName}</h1>
			<p>{subtitle}</p>
		</header>
		<Chart client:only></Chart>
	</main>
</Layout>