---
import Layout from "../../layouts/Layout.astro";
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const projects = await getCollection("projects", ({ data }) => {
		return data;
	})
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project: project },
	}))
}
interface Props {
	project: CollectionEntry<"projects">;
}
const { project } = Astro.props;
const { Content } = await project.render();
---
<style is:inline>
	h1 {
		text-align: center;
	}
	h1 + p {
		text-align: center;
	}
</style>
<Layout title={project.data.title}>
	<main class="container-fluid pt-4">
		<Content/>
	</main>
</Layout>