---
import Layout from "../../layouts/Layout.astro";
import { ProjectCard } from "../../components/global/ProjectCard";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---
<Layout title={'Projects'}>
	<main class="container-fluid pt-4">
		<section class="row">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
				<ul class="list-group">
					{projects.map(project => (
						<li class="list-group-item p-1 border-0 project-wrapper">
							<ProjectCard
								{...project.data} 
								link={`projects/${project.slug}`}
								thumbnail={`/src/images/projects/${project.data.thumbnail}`}
							/>
						</li>
					))}
				</ul>
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>