---
import Layout from "../../layouts/Layout.astro";
import { ProjectCard } from "../../components/global/ProjectCard";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
const IMAGE_PATH = "/images/projects";
---
<Layout title={'Projects'}>
	<main class="container-fluid">
		<section class="row pt-5">
			<section class="col-md-12">
				<header class="vstack gap-3 text-center">
					<section class="hstack gap-2 d-flex justify-content-center">
						<h1>Projects</h1>
					</section>
					<p>Step-by-step projects with real-life applications and technical concepts.</p>
					<section class="hstack gap-2 d-flex justify-content-center">
					</section>
				</header>
			</section>
		</section>
		<section class="row pt-4">
			<aside class="col-md-2"></aside>
			<section class="col-md-8">
				<ul class="list-group">
					{projects.map((project, i) => (
						<li class="list-group-item list-group-item-dark border-0 project-wrapper" style="padding: 1px;">
							<ProjectCard
								{...project.data}
								link={`projects/${project.slug}`}
								thumbnail={`${IMAGE_PATH}/${project.data.thumbnail}`}
							>
							</ProjectCard>
						</li>
					))}
				</ul>
			</section>
			<aside class="col-md-2"></aside>
		</section>
	</main>
</Layout>