---
import Layout from "../../layouts/Layout.astro";
import CollectionIndex from "../../components/global/CollectionIndex.astro";
import { getCollection } from 'astro:content';

const entries = await getCollection('projects');
const title = "Projects";
const description = "Step-by-step projects with real-life applications.";
---
<Layout title={title}>
	<main class="container-fluid">
		<CollectionIndex
			title={title}
			description={description}
			slugBase={"projects"}
			entries={entries}
		/>
	</main>
</Layout>