---
import Layout from "../../layouts/Layout.astro";
import { ProjectCard } from "../../components/global/ProjectCard";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
// const images = await Astro.glob("../../images/projects/**/thumb*[jp][ne][g]*").then(files => {
//   return files.map(file => file.default);
// });
// console.log(images);
---
<Layout title={'Projects'}>
	<main class="container-fluid pt-4">
		<section class="row">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
				<ul class="list-group">
					{projects.map(project => (
						<ProjectCard
							{...project.data} 
							link={`projects/${project.slug}`}
							thumbnail={`/src/images/projects/${project.data.thumbnail}`}
						/>
					))}
				</ul>
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>