---
import Layout from '../../../layouts/Layout.astro';
import Chart from "../../../components/stats/Chart";

const pageName = "MJ Stats";
---
<Layout title={pageName}>
	<main class="container-fluid">
		<header class="row px-4 py-2 text-center vstach gap-2">
			<h1>{pageName}</h1>
			<p>
				Average Wait Time (mm:ss) for Relaxed hours per Time of Day (hh:mm) from 00:00 to 23:45 UTC converted to Local Time.
			</p>
		</header>
		<Chart client:only></Chart>
	</main>
</Layout>